.cw-form input[type="checkbox"]:checked::before {
    margin: 0px 0 0 1px;
}

.dashicons-admin-codeswholesale {
    background-image: url("../vendor/codeswholesale/cw-extension-framework/src/Assets/img/codeswholesale-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}